
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                            <a href="profile-user.html"> <img alt="image" class="img-circle" src="images/a5.png" style="margin-left:20px;" /></a>
                             </span>
                            <div class="m-t-md">
                    <a href="profile-user.html"><p>Username</p></a>
                    <p>City</p>
                    <div class="row m-t-sm">
                        <div class="col-md-4">
                            <a href="site/follow"><i class="fa fa-user fa-2x"></i>
                            <h5>Follow <strong>28</strong></h5></a>
                        </div>
                        <div class="col-md-4">
                          <a href="followers.html"><i class="fa fa-users fa-2x"></i>
                            <h5>Followers <strong>169</strong></h5></a>
                        </div>
                        <div class="col-md-4">
                            <a href="closet.html"><i class="fa fa-camera-retro fa-2x"></i>
                            <h5>Closet <strong>28</strong></h5></a>
                        </div>
                    </div>
                </div>
                        </div>
                        <div class="logo-element">
                            mW
                        </div>
                    </li>
                    <li>
                        <a href="index-user.html"><i class="fa fa-comments-o"></i> <span class="nav-label">HOME</span> </a>
                    </li>
                    <li>
                        <a href="closet.html"><i class="fa fa-folder-open"></i> <span class="nav-label">CLOSET</span> </a>
                    </li>
                    <li>
                        <a href="modeling.html"><i class="fa fa-camera"></i> <span class="nav-label">MODELING</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-pencil"></i> <span class="nav-label">STYLING</span></a>
                    </li>
                    <li>
                        <a href="shop.html"><i class="fa fa-shopping-cart"></i> <span class="nav-label">SHOPS</span></a>
                    </li>
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg sidebar-content">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> ShopX publish 3 new photo
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> UserX publish 2 new models
                                    <span class="pull-right text-muted small">14 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="text-center link-block">
                                <a href="notifications.html">
                                    <strong>See All Alerts</strong>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-user"></i> 
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cog"></i>
                    </a>
                </li>
                <li>
                    <a href="login.html">
                        <i class="fa fa-sign-out"></i> <strong>Log out</strong>
                    </a>
                </li>
            </ul>

        </nav>
        </div>
            <div class="sidebard-panel">
                <div class="col-xs-12 visible-xs"> <form method="post" action="search_results.html" role="search">
                    <div class="form-group">
                        <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                    </div>
                </form>
                </div>
                <div>
                    <h4>SHOPS <span class="badge badge-info pull-right">16</span></h4>
                    <div class="feed-element">
                        <a href="#" class="pull-left">
                            <img alt="image" class="img-circle" src="img/a1.jpg">
                        </a>
                        <div class="media-body">
                            We can put some interaction from shops about something
                            <br>
                            <small class="text-muted">Today 4:21 pm</small>
                        </div>
                    </div>
                    <div class="feed-element">
                        <a href="#" class="pull-left">
                            <img alt="image" class="img-circle" src="img/a2.jpg">
                        </a>
                        <div class="media-body">
                            Also shops news
                            <br>
                            <small class="text-muted">Yesterday 2:45 pm</small>
                        </div>
                    </div>
                    <div class="feed-element">
                        <a href="#" class="pull-left">
                            <img alt="image" class="img-circle" src="img/a3.jpg">
                        </a>
                        <div class="media-body">
                            Or a list of shops!
                            <br>
                            <small class="text-muted">Yesterday 1:10 pm</small>
                        </div>
                    </div>
                    <div class="feed-element">
                        <a href="#" class="pull-left">
                            <img alt="image" class="img-circle" src="img/a4.jpg">
                        </a>
                        <div class="media-body">
                            Or private shops...  boh
                            <br>
                            <small class="text-muted">Monday 8:37 pm</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper wrapper-content">
                <div class="row animated fadeInRight">
                    <div class="ibox-content inspinia-timeline">
                        <form action="#" method="post" role="form" enctype="multipart/form-data" class="facebook-share-box">
                            <div class="share">
                                <div class="arrow"></div>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="">
                                            <textarea name="message" cols="40" rows="10" id="status_message" class="form-control message" style="height: 62px; overflow: hidden;" placeholder="What's on your mind ?"></textarea> 
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col-md-11">
                                                <div class="form-group">
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-white"><i class="fa fa-map-marker"></i> Location</button>
                                                        <button type="button" class="btn btn-white"><i class="fa fa-camera"></i> Photo</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="form-group">                                   
                                                    <input type="submit" name="submit" value="Post" class="btn btn-white">             
                                                </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date visible-lg">
                                    <i class="fa fa-briefcase"></i>
                                    6:00 am
                                    <br/>
                                    <small class="text-navy">2 hour ago</small>
                                </div>
                                <div class="col-xs-10 content no-top-border">
                                    <p class="m-b-xs"><strong>User</strong></p>

                                    <p>Text #hashtag @Shop @User</p>

                                    <a class="fancybox" href="img/p1.jpg" title="Text + #hashtag etc.">
                                        <img alt="image"  src="img/p1.jpg" />
                                    </a>
                                    <a class="fancybox" href="img/p1.jpg" title="Text + #hashtag etc.">
                                        <img alt="image"  src="img/p1.jpg" />
                                    </a>
                                    <a class="fancybox" href="img/p1.jpg" title="Text + #hashtag etc.">
                                        <img alt="image"  src="img/p1.jpg" />
                                    </a>
                                    <div class="actions">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                        <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date visible-lg">
                                    <i class="fa fa-file-text"></i>
                                    7:00 am
                                    <br/>
                                    <small class="text-navy">3 hour ago</small>
                                </div>
                                <div class="col-xs-10 content">
                                    <p class="m-b-xs"><strong>Shop</strong></p>
                                    <p>Text #hashtag </p>
                                        <a class="fancybox" href="img/p1.jpg" title="Text + #hashtag etc.">
                                            <img alt="image"  src="img/p1.jpg" />
                                        </a>
                                        <a class="fancybox" href="img/p1.jpg" title="Text + #hashtag etc.">
                                            <img alt="image"  src="img/p1.jpg" />
                                        </a>
                                        <a class="fancybox" href="img/p1.jpg" title="Text + #hashtag etc.">
                                            <img alt="image"  src="img/p1.jpg" />
                                        </a>
                                    <div class="actions">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                        <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date visible-lg">
                                    <i class="fa fa-coffee"></i>
                                    8:00 am
                                    <br/>
                                </div>
                                <div class="col-xs-10 content">
                                    <p class="m-b-xs"><strong>User</strong></p>
                                    <p>
                                     Text #hashtag @Shop @User
                                    </p>
                                    <div class="actions">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                        <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date visible-lg">
                                    <i class="fa fa-phone"></i>
                                    11:00 am
                                    <br/>
                                    <small class="text-navy">21 hour ago</small>
                                </div>
                                <div class="col-xs-10 content">
                                    <p class="m-b-xs"><strong>User</strong></p>
                                    <p>
                                    Text #hashtag @Shop @User
                                    </p>
                                    <a class="fancybox" href="img/p1.jpg" title="Text + #hashtag etc.">
                                        <img alt="image"  src="img/p1.jpg" />
                                    </a>
                                    <a class="fancybox" href="img/p1.jpg" title="Text + #hashtag etc.">
                                        <img alt="image"  src="img/p1.jpg" />
                                    </a>
                                    <a class="fancybox" href="img/p1.jpg" title="Text + #hashtag etc.">
                                        <img alt="image"  src="img/p1.jpg" />
                                    </a>
                                    <div class="actions">
                                        <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                        <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                        <div class="footer">
            <div>
                <strong>Copyright</strong> Company &copy; 2014-2015
            </div>
        </div>
        </div>
        </div>
    </div>
